body {
  background-color: #dddddd;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "header"
    "hero"
    "event"
    "homes"
    "about"
    "signup"
    "footer";

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #3AA047;
  grid-area: header;
}

img.logo {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.eventpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  text-indent: 50px;
  padding: 5px;
}

h1 {
  text-align: center;
  font-size: 18px;
}

h2 {
  font-size: 18px;
  display: block;
  margin-right: auto;
  color: #FF0000;
  font-family: 'Exo 2', sans-serif;
  padding: 10px;
}

a {
  color: #3AA047;
}

a:hover {
  color: #314D89;
}

a:visited {
  color: #FF0000;
}
h4 {
  font-size: 35px;
  font-family: 'Exo 2', sans-serif;
}

section {
    min-height: 300px;
}

section#about {
  background-color: #dddddd;
  grid-area: about;
}

img.homes {
  width: 350px;
  height: 200px;
}

table {
  border-collapse: collapse;
}

tr {
  max-width: 100%;
}

th {
  padding: 5px;
}

section#event {
  background-color: #dddddd;
  grid-area: event;
}

section#homes {
  background-color: #dddddd;
  grid-area: homes;
}

.hero-image {
  background-image: url("Img/Habitat_main.jpg");
  background-size: 100% 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

section#signup {
  background-color: #dddddd;
  grid-area: signup;
  padding: 10px;
}

form {
  border: solid 2px;
  border-color: red;
  padding: 4px
}

input[type=text], select {
  margin: 4px 0;
}

footer {
  background-color: #3AA047;
  grid-area: footer;
}

@media (min-width: 800px) {
  div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "hero   hero"
      "event event"
      "homes homes"
      "about signup"
      "footer footer";
  }
}
